<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/404.css')}}" />
</head>

<body>
  <iframe src="https://lottie.host/embed/fa7804cf-fc61-49ed-8a3b-6c058f74c938/TSUdbwCmtQ.lottie"></iframe>
  <h1 class="notif-no">The page you were looking for could not be found.</h1>
  <a href="/" id="back-home">Go Back To Homepage -></a>
</body>

</html>