<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>E-cycle Forgot Password</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot_password.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon" />
  <script src="{{ url_for('static', filename = 'js/forgot_password.js') }}" defer></script>
</head>

<body>
  <div id="forgot-password">
    <div id="forgot-password-heading-div">
      <h1 id="forgot-password-main-heading">Forgot Password</h1>
      <h3 id="forgot-password-sub-heading">Please enter the email address you'd like your password reset information
        sent to.</h3>
    </div>
    <div class="card">
      <div class="card-content">
        <form action="/" method="post" id="forgot-password-form">
          <div class="form-group dropdown">
          </div>
          <div class="form-group">
            <label for="username">E-mail</label>
            <input type="text" id="email" name="email" required />
          </div>
          <input type="hidden" name="login-as" id="login-as-hidden">
          <button type="submit" id="request-reset">Request reset link</button>
        </form>
        <p id="error-message" style="display: none;">Incorrect email. Please try again.</p>
        <p id="success-message" style="display: none;">Password reset link sent to your email.</p>
        <div class="links">
          <p><a href="/login">Back to login.</a></p>
          <p>Don't have an account? <a href="/register">Register here</a>.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Mouse Pointer -->
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
</body>

</html>