<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>E - Cycle Track your Pickup</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/track_pickup.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon" />
  <script src="{{ url_for('static', filename = 'js/track_pickup.js') }}" defer></script>
</head>

<body>
  <header class="navbar">
    <img src="{{ url_for('static', filename='images/logo-1.png') }}" alt="E Cycle Logo" />

    <h1 class="dash-heading">Track your Pickup Order</h1>
    <div class="user-info"></div>
  </header>
  <div class="tracking-container">
    <aside class="sidebar">
      <ul>
        <li>
          <a href="/dashboard/{{ current_user.username }}">
            Home
          </a>
        </li>

        {% if current_user.role == 'User' %}
        <li>
          <a href="/pickup">
            Schedule a Pickup
          </a>
        </li>
        <li>
          <a href="/track-pickup">
            Track my Pickup
          </a>
        </li>

        <li>
          <a href="/rewards">
            Rewards
          </a>
        </li>
        {% endif %}

        {% if current_user.role == 'Delivery Partner' %}
        <li>
          <a href="/listen_orders">
            Listen for Orders
          </a>
        </li>
        {% endif %}
        <li>
          <a href="/history">
            History
          </a>
        </li>

        <li>
          <a href="https://ewastemonitor.info/">
            Analytics
          </a>
        </li>

        <li>
          <a href="/recycle-centres">
            Recycling Centers
          </a>
        </li>

        <li>
          <a href="/support">
            Help & Support
          </a>
        </li>
        <li>
          <a href="/logout">
            Logout
          </a>
        </li>
      </ul>
    </aside>
    <div id="login">
      <div id="map"></div>
      <div class="main-container">
        <div id="login-heading-div">
          <label for="Order_Id">Enter the Order ID:</label>
          <input type="text" name="order_name" id="orderID" placeholder="Order ID" />
          <button type="button" id="track-button">Track Order</button>
          <p id="error-container" class="visible">
            Enter valid Order ID !!
          <p>
        </div>
        <div class="conditional-rendering visible">
          <h1 id="driver-h1">Partner Details</h1>
          <div id="mini-container" class="card-white">
            <p class="driver-info" id="name"><strong>Name:</strong></p>
            <p class="driver-info" id="phno"><strong>Phone:</strong></p>
            <p class="driver-info" id="status"><strong>Status:</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mouse Pointer -->
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>

  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRNYfkaFI8aPMugQ30biZ1WqZWpTZTc-I&loading=async&libraries=maps,places&v=beta&callback=initMap"
    defer></script>
</body>

</html>